runs
*.pt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
/data/ALD-google_sheet-Jul272022-Loes_scores-Igor.csv
/data/ALD-google_sheet-Jul272022-Loes_scores-Igor_updated.csv
/data/augmented_files.csv
/data/validated_loes_scores.csv
/data/MNI-space_Loes_data.csv
/.idea/
/data-unversioned/cache/dcan_loes_score/
/runs/loes_scoring/
/src/dcan/training/runs/loes_scoring/
/src/dcan/training/data-unversioned/cache/dcan_loes_score/
/data/all_data.csv
/data/all/
/data/filtered/
/src/dcan/data/MNIST/raw/
/doc/img/model01_temp.png
/src/dcan/models/data/FashionMNIST/raw/
/src/dcan/models/runs/fashion_mnist_experiment_1/
/doc/models/model09/output_256.csv
/doc/img/model_08_temp.png
/doc/models/model07/output.csv
/doc/models/model08/output.csv
/doc/models/model09/output.csv
/bin/loes-scoring-alex-net-160413666.err
/bin/loes-scoring-alex-net-160413666.out
/bin/loes-scoring-alex-net-160413667.err
/bin/loes-scoring-alex-net-160413667.out
/bin/loes-scoring-alex-net-160413668.err
/bin/loes-scoring-alex-net-160413668.out
/bin/loes-scoring-alex-net-160413669.err
/bin/loes-scoring-alex-net-160413669.out
/bin/loes-scoring-alex-net-160413670.err
/bin/loes-scoring-alex-net-160413670.out
/doc/models/five_fold_validation/correlation0.png
/doc/models/five_fold_validation/correlation1.png
/doc/models/five_fold_validation/correlation2.png
/doc/models/five_fold_validation/correlation3.png
/doc/models/five_fold_validation/correlation4.png
/doc/models/five_fold_validation/output_all.csv
/doc/models/model11/output.csv
/doc/models/model09/five_fold_cross_validation.csv
/doc/models/model09/five_fold_validation/five_fold_cross_validation.csv
bin/captum-160468470.err
.gitignore
bin/captum-160468470.out
loes-scoring-2.code-workspace
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
.vscode/launch.json
.Rproj.user
bin/mri_modification/registered_Composite.h5
bin/mri_modification/registered_InverseComposite.h5
runs/Jan06_10-31-42_agd06/events.out.tfevents.1736181103.agd06.1668843.0
src/dcan/util/simplify_nascene_deid_files_csv_file.py
runs/Jan06_13-37-36_agd06/events.out.tfevents.1736192256.agd06.1828355.0
bin/training/loes-scoring-alex-net-31175666.err
bin/training/loes-scoring-alex-net-31175666.out
bin/training/loes-scoring-alex-net-31324105.err
bin/training/loes-scoring-alex-net-31324105.out
bin/training/loes-scoring-training_model_agate_test.sh~
bin/training/pkg_resources
data-unversioned
.vscode/launch.json
bin/training/loes-scoring-alex-net-*.err
bin/training/loes-scoring-alex-net-*.out
data/anon_train_scans_and_loes_2.csv
data/anon_train_scans_and_loes_training_test_non_gd.csv
src/dcan/training/training-to-do.txt
doc/models/model_test/model_test.csv
doc/models/model_test/model_test.png
.Rhistory
.Rhistory
.Rhistory
loes-scoring-2.Rproj
loes-scoring-2.Rproj
runs/logistic_regression/2025-04-03_14.25.23-trn_cls-/events.out.tfevents.1743708340.agc10.626462.0
runs/logistic_regression/2025-04-03_14.25.23-val_cls-/events.out.tfevents.1743708353.agc10.626462.1
runs/logistic_regression/2025-04-07_10.04.24-trn_cls-/events.out.tfevents.1744038268.agc10.2529193.0
runs/logistic_regression/2025-04-07_10.04.24-val_cls-/events.out.tfevents.1744038268.agc10.2529193.1
scripts/training/loes-scoring-logistic-regression-33941797.err
scripts/training/loes-scoring-logistic-regression-33941797.out
scripts/training/loes-scoring-training_model-logistic-regression_agate.sh
doc/linear_regression_threshold_optimization_fold1.png
doc/linear_regression_threshold_optimization_fold2.png
doc/linear_regression_threshold_optimization_fold3.png
doc/linear_regression_threshold_optimization_fold4.png
doc/linear_regression_threshold_optimization_fold5.png
